@import-normalize; /* bring in normalize.css styles */

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.app-header a {
  color: #fff;
}

.nameSortIcon {
  padding-left: 10px;
}

.toolbarName {
  cursor: pointer;
}

.MuiInputBase-root {
  color: white !important;
}

.MuiInput-underline::before {
  border-bottom: 1px solid #d8d8d8 !important;
}

.MuiInput-underline::after {
  border-bottom: 1px solid #495786 !important;
}
